body {
	background:url(../img/body.pattern.gif) repeat #f9f8f2;
	font: 62.5%/1.2em Georgia, Garamond, serif; font-weight: normal; font-style: normal; color:#373737;
}

div.header_adapter {
	background:black;
	font: 1.2em Tahoma, Geneva, Verdana, sans-serif;
}

div.highlight_wrapper {
	background:url(../img/highlight.background.jpg) no-repeat top center; height:421px; min-width:1000px;
}

.common_wrapped { margin:0 auto; min-width:1000px; max-width:1060px; }

div.content_wrapper {
	background:url(../img/content_wrapper.background.png) no-repeat top center;
	min-height:978px;
}

div.paper_top { background:url(../img/paper_top.background.png) no-repeat top center; height:12px; }

div.inner_wrapper {
	background:url(../img/inner_wrapper.pattern.png) repeat-y top center;
	min-height:1100px;
}

div.paper_bottom { background:url(../img/paper_bottom.background.png) no-repeat top center; min-width:1000px; height:54px; }

div.inner_center { width:1000px; margin:0 auto; }

div.inner_left {
	width:634px; float:left; margin-left:46px; height:1000px; min-height:1476px;
	background:url(../img/line_vertical.background.gif) no-repeat top right; overflow:hidden;
}

div.inner_right { width:262px; float:right; margin-right:40px; }

a, a:active, a:visited, a:link, a:hover, a:focus { color:#f26600; }
a:hover { text-decoration:underline; }

div.inner_left h1 { font-size:1.8em; line-height:1.66em; font-style:italic; font-weight:bold; padding-top:10px; }
div.inner_right h1 { font:2.4em 'HouseSamplerHouseSlant', Brush Script MT, cursive; line-height:1.2em; text-align:center; padding:10px 0; width:262px; }

div.inner_left p { font-style:italic; font-size:1.4em; line-height:1.2em; width:594px; }
div.inner_right p { width:262px; font-size:1.2em; line-height:1.2em; }

div.inner_left p, div.inner_right p { padding:16px 0; }

strong { font-size:1em; font-weight:bold; }

div.inner_left div.post { background:url(../img/line_horizontal.background.gif) no-repeat bottom center; padding:10px 0 28px 0; }
div.inner_right div.post { padding-bottom:18px; }

div.poll_adapter {
	font: 1.2em Tahoma, Geneva, Verdana, sans-serif;
	width:594px; margin:0;
}

div.poll_adapter div.pollwrp { margin:0; }

div.footer_adapter div#footer { background:none; font: 1.2em Tahoma, Geneva, Verdana, sans-serif; }

div.dates_wrapper { width:5072px; }
div.date_wrap { width:634px; float:left; }